@charset "utf-8";

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
}

.wrapper>div {
    background: rgb(51, 255, 0);
    padding: 1em;
}

.nested {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 50px;
    grid-gap: 1em;
}
.nested>div {
    background: purple;
    color: #fff;
}

